<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apodimark-PerformanceTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Apodimark-UnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Apodimark-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Apodimark-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Apodimark-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Apodimark-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD1CCF971DA68BCB00D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1CCFA01DA68BCB00D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1CCFE21DA68D1700D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1CCFEA1DA68D1700D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1CD0111DA68DBD00D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1CD0311DA68F5600D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1CD0591DA693E100D3AEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9444C61DAAE9CA007ADE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9444D41DAAEBBB007ADE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9444E01DAAEC0D007ADE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9444EC1DAAED78007ADE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
